
body{
    background-color: bisque;
}


.pageTitle{
    font-size: 5rem;
    text-align: center;
    color:#001e3d;
}
.cont{
    padding: 20px;
    margin-top: 5%;
}


.subtext{
    display: inline;
}
