.tagline {
  top: 50vw;
  margin-left: 5vw;
  width: 100%;
  font-size: 6.5rem;
  letter-spacing: 0.2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
}

.refBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  width: 75%;
  box-shadow: 2px 1px 1px 1px;
  background-color: #001e3d;
  opacity: 0.7;
  min-height: 50px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  color: black;
  padding: 10px;
}

.button {
  color: white;
  background-color: #001e3d;
  border: 1px solid #001e3d;
  border-radius: 0;
  padding: 5px;
  width: 150px;
}

.button:hover {
  color: rgb(245, 239, 239);
  background-color: #073563;
}

@media only screen and (max-width: 600px) {
  .tagline {
    font-size: 5rem;
    text-align: center;
    margin-left: 0;
    background: -webkit-linear-gradient(rgb(59, 52, 146), rgb(108, 139, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
