@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Open Sans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cont {
  padding: 0 150px 150px 150px;
}

div {
  font-family: "Open Sans";
  font-size: 1.3rem;
}

p .hidden {
  display: none;
}
.show {
  display: block;
}
