.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px 2px 2px 2px;
  border-color: orange;
  background-color: white;
}
