.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 2%;
}

.edit {
  top: 14%;
  display: flex;
  align-self: center;
  justify-content: center;
  left: 10%;
  font-size: 20px;
  color: black;
}

.pageTitle {
  text-align: center;
  color: #001e3d;
}
.subtext {
  display: inline;
}

.gridcontainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  padding: 5%;
}
.tab-content > .tab-pane {
  display: none;
}

@media screen and (max-width: 1000px) {
  .gridcontainer {
    grid-template-columns: 1fr;
  }
}
